.logo {
  width: 182px;
  height: 100px;
}

.container {
  max-width: 1400px;
  min-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.container_relative {
  position: relative;
}

.title {
  font-family: Arial;
  font-size: 80px;
  font-weight: 900;
  line-height: 90px;
}

.subtitle {
  font-family: Arial;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2.25px;
}

.text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
}

.menu {
  display: flex;
}

.link {
  display: inline-block;
  height: 45px;
  padding: 11px 32px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #292929;
  text-transform: uppercase;
}

.link:hover {
  color: #FF8340;
}

.link:active {
  color: #843500;
}

.link_margin-top_14px{
  margin-top: 14px;
}
