@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/Arial-Black.eot");
  src: url("/fonts/Arial-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Arial-Black.woff") format("woff"), url("/fonts/Arial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* Reset styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Basic styles for reusable elements  */
body {
  min-width: 620px;
}

.logo {
  width: 182px;
  height: 100px;
}

.container {
  max-width: 1400px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
}
.container_relative {
  position: relative;
}
@media screen and (max-width: 952px) {
  .container {
    max-width: 952px;
  }
}

.title {
  font-family: Arial;
  font-size: 80px;
  font-weight: 900;
  line-height: 90px;
  color: #292929;
}
.title_white {
  color: #fff;
}
@media screen and (max-width: 952px) {
  .title {
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
  }
}

.subtitle {
  font-family: Arial;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2.25px;
  color: #292929;
}

.text {
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
}
.text_white {
  color: #fff;
}

.menu {
  display: flex;
}

.link {
  display: flex;
  width: fit-content;
  height: 45px;
  padding: 11px 32px;
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #292929;
  text-transform: uppercase;
}
.link:hover {
  color: #ff8340;
}
.link:active {
  color: #843500;
}

/* Styles for header  */
.header {
  height: 140px;
  padding: 30px 0 10px 0;
  background-color: #ebebe9;
}
.header__nav {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  justify-content: end;
}
@media screen and (max-width: 952px) {
  .header {
    height: 80px;
    padding: 16px 32px 0;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    height: 64px;
    width: 117px;
  }
  .header__nav {
    align-items: normal;
  }
  .header__nav:after {
    content: url("/images/burger.svg");
    display: block;
    height: 48px;
    width: 48px;
  }
}

/* Styles for build section  */
.build {
  height: 816px;
  background: linear-gradient(180deg, #ebebe9 0%, #ededeb 100%);
}
.build__image {
  position: absolute;
  left: -222px;
  bottom: 0;
  width: 990px;
  height: 990px;
  z-index: 1;
}
.build__title {
  position: absolute;
  top: 100px;
  left: 222px;
  max-width: 1120px;
  font-family: Arial;
  font-size: 160px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 8px;
  color: #cfcfcd;
}
.build__description {
  position: absolute;
  right: 32px;
  top: 358px;
  width: 587px;
  z-index: 5;
}
.build__button-more {
  margin-top: 14px;
}
@media screen and (max-width: 1399px) {
  .build__title {
    font-size: 11vw;
  }
}
@media screen and (max-width: 952px) {
  .build {
    height: 525px;
  }
  .build__image {
    height: 624px;
    width: 624px;
    left: -67px;
  }
  .build__title {
    left: 97px;
    top: 96px;
    max-width: 693px;
    font-size: 10.5vw; /*100px*/
    letter-spacing: 4px;
  }
  .build__description {
    top: 110px;
    width: 363px;
  }
}
@media screen and (max-width: 620px) {
  .build__title {
    font-size: 65px;
  }
}

.art {
  height: 973px;
  overflow: hidden;
}
.art__image {
  position: absolute;
  bottom: 0;
  right: -155px;
  width: 953px;
  height: 596px;
}
.art__title {
  position: absolute;
  top: 169px;
  left: 0;
  max-width: 1324px;
  z-index: 1;
}
.art__description {
  position: absolute;
  top: 66px;
  left: 200px;
  max-width: 562px;
  padding: 335px 15px 46px;
  border: 6px solid #ff8340;
}
.art__button-more {
  margin-top: 14px;
}
@media screen and (max-width: 1399px) {
  .art__title {
    font-size: 5.7vw;
    max-width: 94.6vw;
  }
  .art__image {
    right: -11.07vw;
  }
  .art__title {
    left: 32px;
  }
}
@media screen and (max-width: 952px) {
  .art {
    height: 817px;
  }
  .art__image {
    height: 374px;
    width: 598px;
    right: 0;
  }
  .art__title {
    top: 54px;
    left: 32px;
    max-width: 562px;
    font-size: 6.3vw; /* 60px*/
    line-height: 70px;
  }
  .art__description {
    top: 10px;
    left: 111px;
    padding: 276px 15px 14px;
    width: 504px;
  }
  .art__button-more {
    margin-top: 36px;
  }
}
@media screen and (max-width: 620px) {
  .art__title {
    font-size: 40px;
  }
}

.direction {
  height: 491px;
  background: #292929;
}
.direction__title {
  height: 160px;
  padding: 40px 0;
}
.direction .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
}
@media screen and (max-width: 1399px) {
  .direction__title {
    font-size: 5.7vw;
  }
  .direction .container {
    padding: 0 32px;
  }
}
@media screen and (max-width: 952px) {
  .direction {
    height: 357px;
  }
  .direction__title {
    height: 85px;
    font-size: 6.3vw;
    padding: 12px 0;
  }
  .direction .container {
    gap: 28px;
    padding: 0 32px;
  }
}
@media screen and (max-width: 620px) {
  .direction__title {
    font-size: 40px;
  }
}

.feedback {
  height: 978px;
  background: #ff8340;
  padding-top: 40px;
  padding-bottom: 165px;
}
.feedback__title {
  text-align: center;
  padding: 14.5px 0;
}
.feedback__line {
  margin: 29px auto 50px;
  width: 64px;
  height: 6px;
  background: #292929;
}
@media screen and (max-width: 1399px) {
  .feedback {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 952px) {
  .feedback {
    min-height: 781px;
    height: max-content;
    padding: 32px 32px 21px;
  }
  .feedback__title {
    padding: 6.5px 0;
    font-size: 32px;
    letter-spacing: 1.6px;
  }
  .feedback__line {
    margin: 29px auto 42px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 40px;
  padding-top: 40px;
}
.form__item {
  height: 58px;
  width: 680px;
  padding-left: 34px;
  border: 2px solid #cfcfcd;
  color: #b0b0b0;
  background: #fff;
}
.form__select {
  background: #292929;
  color: #fff;
}
.form__textarea {
  width: 100%;
  height: 198px;
  padding-top: 18px;
  resize: none;
  color: black;
}
.form__button {
  align-self: flex-end;
  margin: 3px 0 0 auto;
  height: 45px;
  padding: 11px 0px;
}
.form__button:hover {
  color: #ffffff;
}
.form__button:active {
  color: #843500;
}
@media screen and (max-width: 1399px) {
  .form__item {
    width: calc(50vw - 64px);
  }
  .form__textarea {
    width: calc(100vw - 32px);
  }
}
@media screen and (max-width: 952px) {
  .form {
    gap: 20px 20px;
    padding-top: 30px;
  }
  .form__item {
    height: 58px;
    width: calc(50vw - 64px);
    padding-left: 34px;
    border: 2px solid #cfcfcd;
    color: #b0b0b0;
    background: #fff;
  }
  .form__select {
    padding-left: 24px;
    background: #292929;
    color: #fff;
  }
  .form__textarea {
    width: calc(100vw - 32px);
    height: 198px;
  }
  .form__button {
    margin: -10px 0 0 auto;
  }
}
@media screen and (max-width: 620px) {
  .form__item {
    width: 100%;
  }
}

.system {
  display: grid;
  grid-template-areas: "system system system image " "food time program image ";
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1920px;
  margin: 0 auto;
}
.system__description {
  grid-area: system;
  padding: 124px 76px 1px 260px;
}
.system__title {
  margin-bottom: 34px;
}
.system__food {
  grid-area: food;
}
.system__time {
  grid-area: time;
}
.system__program {
  grid-area: program;
}
.system__image {
  grid-area: image;
}
@media screen and (max-width: 1919px) {
  .system {
    grid-template-areas: "system system system image image image" "food food time time program program";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
  .system__description {
    padding-left: max(32px, (100vw - 1400px) / 2);
  }
}
@media screen and (max-width: 952px) {
  .system {
    grid-template-areas: "system image " "food time" "program program";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .system__title {
    text-align: center;
  }
  .system__description {
    padding: 40px 32px 32px;
  }
}
.system .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 38px 34px 18px;
  margin-top: 40px;
}
.system .card__title {
  color: #292929;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
}
.system .card__description {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 952px) {
  .system .card {
    padding: 38px 38px 58px 34px;
  }
  .system .card__image {
    margin-bottom: 70px;
  }
  .system .card__title {
    margin-bottom: 52px;
  }
}

.couch {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 140px;
}
.couch__title {
  padding-left: 260px;
  margin-bottom: 124px;
}
.couch__slider {
  position: relative;
  width: 100%;
}
.couch__slider::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 756px;
  z-index: 5;
  background: linear-gradient(90deg, #fff 0%, rgba(41, 41, 41, 0) 100%);
}
.couch__slider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 260px;
  height: 756px;
  z-index: 5;
  background: linear-gradient(90deg, rgba(41, 41, 41, 0) 0%, #fff 100%);
}
.couch__slider .card {
  display: block;
  margin: 0;
  padding: 0;
  width: 20%;
}
.couch__slider .card__image {
  width: 100%;
  aspect-ratio: 384/756;
}
.couch__slider .card__title {
  line-height: 50px;
  padding-top: 15px;
  padding-left: 54px;
}
.couch__slider .card__description {
  display: block;
  padding-top: 10px;
  padding-left: 54px;
}
.couch .swiper-button-next:after,
.couch .swiper-button-prev:after {
  color: #ff8340;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
@media screen and (max-width: 1919px) {
  .couch__title {
    padding-left: max(32px, (100vw - 1400px) / 2);
  }
  .couch__slider {
    position: relative;
    width: 100%;
  }
  .couch__slider .card {
    width: 25%;
  }
  .couch__slider .card__image {
    width: 100%;
  }
  .couch__slider .card__title {
    max-width: 60%;
    line-height: 90%;
    padding-top: 12px;
    padding-left: 40px;
    font-size: 2.34vw;
  }
  .couch__slider .card__description {
    display: block;
    padding-top: 10px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 952px) {
  .couch {
    max-width: 952px;
    padding-top: 0;
  }
  .couch__title {
    display: none;
  }
  .couch__slider {
    width: 100%;
    height: 762px;
  }
  .couch__slider::before, .couch__slider::after {
    display: none;
  }
  .couch__slider .card__image {
    height: 626px;
    filter: grayscale(1);
  }
  .couch__slider .card__title {
    font-size: 3.9vw;
    line-height: 111%;
    padding-top: 12px;
    padding-left: 24px;
  }
  .couch__slider .card__description {
    display: block;
    padding-top: 8px;
    padding-left: 24px;
  }
  .couch__slider .swiper-slide-active .card__image {
    filter: grayscale(0);
  }
  .couch .swiper-button-next,
  .couch .swiper-button-prev {
    display: none;
  }
}

.price {
  padding-top: 140px;
}
.price__title {
  margin-bottom: 81px;
}
.price .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  max-height: 624px;
  padding: 69px 32px 32px;
  border: 6px solid #292929;
}
.price .card__period {
  margin-bottom: 74px;
  color: #292929;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
}
.price .card__length {
  display: block;
  width: 76px;
  height: 76px;
  margin-bottom: 24px;
  padding-top: 3px;
  border: 4px solid #292929;
  border-radius: 50%;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.price .card__description {
  margin-bottom: 36px;
  text-align: center;
}
.price .card__amount {
  margin-bottom: 16px;
}

/* Styles for footer  */
.footer {
  height: 226px;
  padding-top: 46px;
  padding-bottom: 23px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu {
  justify-content: space-between;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}