@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/Arial-Black.eot");
  src: url("/fonts/Arial-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Arial-Black.woff") format("woff"), url("/fonts/Arial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* Reset styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Basic styles for reusable elements  */
.logo {
  width: 182px;
  height: 100px;
}

.container {
  max-width: 1400px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
}
.container_relative {
  position: relative;
}
@media screen and (max-width: 952px) {
  .container {
    max-width: 952px;
  }
}

.title {
  font-family: Arial;
  font-size: 80px;
  font-weight: 900;
  line-height: 90px;
}

.subtitle {
  font-family: Arial;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2.25px;
}

.text {
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
}

.menu {
  display: flex;
}

.link {
  display: flex;
  width: fit-content;
  height: 45px;
  padding: 11px 32px;
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #292929;
  text-transform: uppercase;
}
.link:hover {
  color: #ff8340;
}
.link:active {
  color: #843500;
}

/* Styles for header  */
.header {
  height: 140px;
  padding: 30px 0 10px 0;
  background-color: #ebebe9;
}
.header__nav {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  justify-content: end;
}
@media screen and (max-width: 952px) {
  .header {
    height: 80px;
    padding: 16px 32px 0;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    height: 64px;
    width: 117px;
  }
  .header__nav {
    align-items: normal;
  }
  .header__nav:after {
    content: url("/img/burger.svg");
    display: block;
    height: 48px;
    width: 48px;
  }
}

/* Styles for build section  */
.build {
  height: 816px;
  background: linear-gradient(180deg, #ebebe9 0%, #ededeb 100%);
}
.build__image {
  position: absolute;
  left: -222px;
  bottom: 0;
  width: 990px;
  height: 990px;
  z-index: 1;
}
.build__title {
  position: absolute;
  top: 100px;
  left: 222px;
  max-width: 1120px;
  font-family: Arial;
  font-size: 160px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 8px;
  color: #cfcfcd;
}
.build__description {
  position: absolute;
  right: 32px;
  top: 358px;
  width: 587px;
  z-index: 5;
}
.build__button-more {
  margin-top: 14px;
}
@media screen and (max-width: 1350px) {
  .build__title {
    font-size: 11vw;
  }
}
@media screen and (max-width: 952px) {
  .build {
    height: 525px;
  }
  .build__image {
    height: 624px;
    width: 624px;
    left: -67px;
  }
  .build__title {
    left: 97px;
    top: 96px;
    max-width: 693px;
    font-size: 100px;
    letter-spacing: 4px;
  }
  .build__description {
    top: 110px;
    width: 363px;
  }
}

.art {
  height: 973px;
}
.art__image {
  position: absolute;
  top: 377px;
  left: 600px;
  width: 953px;
  height: 596px;
}
.art__title {
  position: absolute;
  top: 169px;
  left: 0;
  max-width: 1324px;
  z-index: 1;
}
.art__description {
  position: absolute;
  top: 66px;
  left: 200px;
  width: 562px;
  padding: 335px 15px 46px;
  border: 6px solid #ff8340;
}
.art__button-more {
  margin-top: 14px;
}

/* Styles for footer  */
.footer {
  height: 226px;
  padding-top: 46px;
  padding-bottom: 23px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu {
  justify-content: space-between;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}