.art {
  height: 973px;

  &__image {
    position: absolute;
    bottom: 0;
    right:-155px;
    width: 953px;
    height: 596px;
  }

  &__title {
    position: absolute;
    top: 169px;
    left: 0;
    max-width: 1324px;
    z-index: 1;
  }
  &__description {
    position: absolute;
    top: 66px;
    left: 200px;
    width: 562px;
    padding: 335px 15px 46px;
    border: 6px solid #ff8340;
  }

  &__button-more {
    margin-top: 14px;
  }

  @media screen and (max-width: 1350px) {
    &__title {
      font-size: 5.95vw;
    }
  }

  @media screen and (max-width: 952px) {
    height: 817px;

    &__image {
      height: 374px;
      width: 598px;
      right: 0;
    }

    &__title {
      top: 54px;
      left: 32px;
      max-width: 562px;
      font-size: 60px;
      line-height: 70px;
    }

    &__description {
      top: 10px;
      left: 111px;
      padding: 276px 15px 14px;
      width: 504px;
    }

    &__button-more {
      margin-top: 36px;
    }
  }
}
