/* Basic styles for reusable elements  */
body{
  min-width: 620px;
}

.logo {
  width: 182px;
  height: 100px;
}

.container {
  max-width: 1400px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;

  &_relative {
    position: relative;
  }

  @media screen and (max-width: 952px) {
    max-width: 952px;
  }
}

.title {
  font-family: Arial;
  font-size: 80px;
  font-weight: 900;
  line-height: 90px;
  color:#292929;

  &_white{
    color: #FFF;
  }
}

.subtitle {
  font-family: Arial;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2.25px;
  color:#292929;
}

.text {
  font-family: 'Roboto Medium', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;

  &_white{
    color: #FFF;
  }
}

.menu {
  display: flex;
}

.link {
  display: flex;
  width: fit-content;
  height: 45px;
  padding: 11px 32px;
  font-family: 'Roboto Medium', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #292929;
  text-transform: uppercase;

  &:hover {
    color: #ff8340;
  }

  &:active {
    color: #843500;
  }
}
