/* Styles for header  */

.header {
  height: 140px;
  padding: 30px 0 10px 0;
  background-color: #ebebe9;

  &__nav {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    justify-content: end;
  }

  @media screen and (max-width: 952px) {
    height: 80px;
    padding: 16px 32px 0;
    &__menu {
      display: none;
    }

    &__logo {
      height: 64px;
      width: 117px;
    }
    &__nav {
      align-items:normal;
      &:after {
        content: url('/img/burger.svg');
        display: block;
        height: 48px;
        width: 48px;
      }
    }
  }
}
