.price {
  padding-top: 140px;

  &__cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: max-content;
    height: 686px;
  }

  &__title {
    width: 100%;
    margin-bottom: 81px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    height: 624px;
    padding: 63px 32px 26px;
    border: 6px solid #292929;

    &:hover {
      height: 100%;
      border-color: #ff8340;
      transition: all 0.2s ease-in;

      .card__length {
        border: 6px solid #ff8340;
        color: #ff8340;
      }
    }

    &__period {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 74px;
      color: #292929;
      font-family: Arial;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 1px;
    }

    &__length {
      display: flex;
      align-items: center;
      justify-content:space-around;
      width: 76px;
      height: 76px;
      margin-bottom: 24px;
      border: 4px solid #292929;
      border-radius: 50%;
      color: #000;
      font-size: 40px;
      font-weight: 700;
    }

    &__description {
      margin-bottom: 36px;
      text-align: center;
    }

    &__amount {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  @media screen and (max-width: 1919px) {
    &__title {
      padding-left: max(32px, (100vw - 1400px) / 2);
    }
  }

  @media screen and (max-width: 1220px) {
    &__cards-wrapper {
      height: max-content;
    }

    .card {
      padding: 24px;

      &__period {
        margin-bottom: 32px;
      }

      &__amount {
        gap: 10px;
        font-size: 34px;
      }
    }
  }
  @media screen and (max-width: 952px) {
    padding: 53px 32px 32px;

    &__cards-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        border-bottom: 6px solid #292929;
      }
    }

    &__title {
      margin-bottom: 53px;
    }

    .card {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0 15px;
      max-width: 100%;
      width: 100%;
      min-height: 248px;
      height: fit-content;
      padding: 0 5.9vw 0 6.3vw;

      border: 6px solid #292929;
      border-bottom: 3px;

      &:hover {
        height: 248px;
        border-color: #292929;
        transition: none;

        .card__length {
          border: 4px solid #292929;
          color: #292929;
        }
      }

      &__period {
        margin-bottom: 0;
        color: #292929;
      }

      &__description {
        max-width: 306px;
        margin-bottom: 0;
        text-align: center;
      }

      &__amount {
        min-width: 180px;
        margin-bottom: 0;
      }
    }
  }
}
